nav {
  background-color: transparent;
}
body {
  background-color: #2192bf;
  color: white;
  display: block;
  margin: auto;
  font-family: "Lato", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
#timestamp-api {
  text-align: left;
  margin-left: 10px;
}
h4 {
  line-height: 3;
  font-weight: 300;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border-style: none;
  max-width: 600px;
  border: none;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: inline-flex;
}

.searchbar--max-width {
  max-width: 100%;
}

.searchbar__input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid #f28c0f;
  border-radius: 0 0 0 0;
  background: #fff6fc;
  transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus {
  background: white;
  box-shadow: 0 0 2px #faefe1;
}

.searchbar__input::placeholder {
  color: #f5cc97;
}

.searchbar__button-search,
.searchbar__button-location {
  width: 40px;
  background: #f28c0f;
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.searchbar__button-search {
  border-radius: 0 5px 5px 0;
}
.searchbar__button-location {
  border-radius: 5px 0 0 5px;
}

.searchbar__button-search:hover,
.searchbar__button-location:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin: 20px, 10px, 20px, 10px;
  text-align: center;
}
#temp-description:first-letter {
  text-transform: capitalize;
}

#numerical-temp {
  color: #f2ae30;
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  vertical-align: middle;
}
.units-temperature a {
  text-decoration: none;
}
.units-temperature .active {
  color: white;
  text-decoration: none;
  cursor: default;
}

footer {
  text-align: center;
  font-size: 10px;
  line-height: 3;
}

.additional-info {
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 30px
  margin-bottom:30px;
}
